*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: #090c31;
    display: grid;
    place-items: center;
}

.calculadora{
    background-color: #15173c;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    height: 350px;
    max-width: 100%;
    padding: 15px;
    border-radius: 10px;
    gap: 5px;
}

.pantalla{
    grid-column: 1 / -1;
    background-color:#090c31 ;
    padding: 15px;
    font-size: 20px;
    text-align: right;
    border-radius:5px ;
    margin-bottom: 10px;
    font-family: monospace;
    font-weight: 600;
}

.btn{
    background-color:#15173c ;
    color: white;
    border: 0;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: #090c31;
}

#cero{
    grid-column: span 2;
}

#igual{
    grid-row: span 2;
    background-color: #e6394a;   
}

#igual:hover{
    background-color:#e65766;
}

@media screen and (min-width:320px) and (max-width:800px) {
    .calculadora{
       width: 300px;
       height: 300px;
       background: #15173c;
    }


    .btn{
        padding: 0;
    }
}